@model IEnumerable<ClassLibrary1.RestaurantsClass>

@{
    ViewBag.Title = "Index";
    
}

<h2>List of Restaurants</h2>

<p>
    @Html.ActionLink("Create New", "Create") | @Html.ActionLink("Ascend", "SortAscend") | @Html.ActionLink("Descend", "SortDescend") |@Html.ActionLink("TopThree", "Topthree")
</p>


<form asp-controller="Restaurants" asp-action="Index">
    <p>
        Restaurant: <input type="text" name="searchstring" >
        <input type="submit" value="Search" />
    </p>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Restaurant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuisine)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Restaurant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuisine)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RestID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RestID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RestID })
        </td>
    </tr>
}

</table>
